<nav class="relative w-80-ns mw6 mt6 center tc" role="navigation">
    <a class="fl dib ph3 pv1 no-underline dim link ba br2 ttu f6 {{#unless prev}}disabled{{/unless}}" href="{{page_url prev}}">Future</a>
    <span class="ttu gray tracked f6 f5-ns">Page {{page}} of {{pages}}</span>
    <a class="fr dib ph3 pv1 no-underline dim link ba br2 ttu f6 {{#unless next}}disabled{{/unless}}" href="{{page_url next}}">Past</a>
</nav>
